PUBLIC_WHATSAPP_NUMBER=60182035828
PUBLIC_FORMSPREE_ID=your_formspree_id_here
PUBLIC_FOODPANDA_URL=https://www.foodpanda.my/restaurant/dtimer-cafe
PUBLIC_GRABFOOD_URL=https://food.grab.com/my/en/restaurant/dtimer-cafe-delivery
PUBLIC_GOOGLE_MAPS_EMBED=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.588791668174!2d101.7340733147572!3d3.203289997667629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc3843bcb6c775%3A0x1ef2c8186c2d0acf!2sD'Timer%20Cafe!5e0!3m2!1sen!2smy!4v1620000000000!5m2!1sen!2smy
PUBLIC_GOOGLE_REVIEWS_URL=https://g.co/kgs/example
PUBLIC_INSTAGRAM_URL=https://instagram.com/dtimercafe
PUBLIC_FACEBOOK_URL=https://facebook.com/dtimercafe